---
import { Image } from "astro:assets";
import shinyStars from "/public/images/shiny-stars.png";
---

<button class="shiny-button">
	<Image src={shinyStars} alt="toggle shiny" width="80" height="80" />
</button>

<style>
	.shiny-button {
		position: absolute;
		left: 20px;
		top: 20px;
		width: 5rem;
		cursor: pointer;
		z-index: 10;
		background: none;
		border: none;
		&:focus-visible {
			outline: 2px solid rgb(53 53 53);
			outline-offset: 4px;
			border-radius: 0.75rem;
		}

		& img {
			filter: drop-shadow(5px 5px 0 rgba(130, 217, 211, 0.408));
		}
	}

	@media (width < 992px) {
		.shiny-button {
			width: 4rem;
		}
	}
</style>

<script>
	const shinyButton = document.querySelector(".shiny-button") as HTMLElement;
	const shinyStars = document.querySelector(
		".shiny-button img"
	) as HTMLImageElement;
	const pokemonSprite = document.querySelector(
		".pokemon-sprite img"
	) as HTMLImageElement;

	function getShinyStatus(): boolean {
		return localStorage.getItem("isShiny") !== "false";
	}

	function toggleShinyStatus(): boolean {
		const newStatus = !getShinyStatus();
		localStorage.setItem("isShiny", newStatus.toString());
		return newStatus;
	}

	toggleShinyStars();

	shinyButton.addEventListener("click", () => {
		toggleShiny();
	});

	function toggleShiny() {
		toggleShinyStatus();
		toggleShinyStars();
		toggleShinySprite();
	}
	function toggleShinyStars() {
		shinyStars.src = `images/shiny-stars${getShinyStatus() ? "-active" : ""}.png`;
	}
	function toggleShinySprite() {
		const pokemonSpriteLink =
			"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/";
		const pokemonId = pokemonSprite.getAttribute("data-id");

		pokemonSprite.src =
			pokemonSpriteLink +
			(getShinyStatus() ? "shiny/" : "") +
			pokemonId +
			".png";
	}
</script>
