---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import ShinyButton from "../components/ShinyButton.astro";
import PokemonSprite from "../components/PokemonSprite.astro";
import GenSelectList from "../components/GenSelectList.astro";
import PokemonList from "../components/PokemonList.astro";
---

<BaseLayout>
	<Header />
	<main class="pokedex">
		<ShinyButton />
		<PokemonSprite />
		<PokemonList />
		<GenSelectList />
	</main>
</BaseLayout>

<style>
	.pokedex {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	@media (width < 992px) {
		.pokedex {
			flex-direction: column;
			height: calc(100vh - 46px);
		}
	}
	@media (width < 490px) {
		.pokedex {
			justify-content: space-between;
		}
	}
</style>
